* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-size: 2.5vmin;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button {
	padding: 1vmin;
	border: 0;
	background-color: white;
	font-size: 2.5vmin;
	outline: none;
	cursor: pointer;
}

input {
	width: calc(100% - 2vmin);
	padding: 1vmin;
	outline: none;
	font-size: 2.5vmin;
}

#root {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 126vmin;
}

.orangered {
	color: orangered;
}

.fullwidth {
	width: 100%;
}
