* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button {
	outline: none;
	border: 0;
	cursor: pointer;
}

#root {
	display: flex;
	flex-direction: row;
}

.board {
	display: flex;
	flex-wrap: wrap;
	width: 110vmin;
	height: 77vmin;
	background-color: lightgrey;
}

.board__cell-container {
	position: relative;
	width: 11vmin;
	height: 11vmin;
}

.board__cell {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(11vmin - 2px);
	height: calc(11vmin - 2px);
	border: 1px solid white;
	z-index: 1;
}

.board__cell-animation {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(11vmin - 2px);
	height: calc(11vmin - 2px);
	background: transparent;
	border: 1px solid transparent;
	z-index: 2;
}

.toolbox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 15vmin;
	height: 73vmin;
	margin-left: 1vmin;
	padding: 2vmin 0;
	background-color: red;
}

.toolbox__expected {
	display: flex;
	flex-wrap: wrap;
	width: 11vmin;
	height: 55vmin;
	background-color: black;
}

.toolbox__expected-element {
	width: calc(11vmin - 2px);
	height: calc(11vmin - 2px);
	border: 1px solid white;
}

.open-valve-button {
	padding: 1vmin 2vmin;
	font-size: 3vmin;
}

@media screen and (orientation:portrait) and (max-device-width: 900px) {
	body {
		transform: rotate(90deg);
	}
}
