* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: black;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-size: 2.5vmin;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button {
	padding: 1vmin;
	border: 0;
	font-size: 2.5vmin;
	outline: none;
	cursor: pointer;
}

input {
	width: calc(100% - 2vmin);
	padding: 1vmin;
	outline: none;
	font-size: 2.5vmin;
}

#root {
	display: flex;
	flex-direction: row;
}

.fullwidth {
	width: 100%;
}

.modal {
	height: auto;
	padding: 2vmin;
	background-color: lightgrey;
}

.modal.medium {
	width: 50vmin;
}

.modal.small {
	width: 30vmin;
}

.label {
	margin-bottom: 1vmin;
}

.submit-block {
	display: flex;
	justify-content: center;
	margin-top: 2vmin;
}

.buttons-list > div:not(:last-child) {
	margin-bottom: 2vmin;
}

.board {
	display: flex;
	flex-wrap: wrap;
	width: 110vmin;
	height: 77vmin;
	background-color: lightgrey;
}

.board__cell-container {
	position: relative;
	width: 11vmin;
	height: 11vmin;
}

.board__cell {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(11vmin - 2px);
	height: calc(11vmin - 2px);
	border: 1px solid white;
	z-index: 1;
}

.board__cell-animation {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(11vmin - 2px);
	height: calc(11vmin - 2px);
	background: transparent;
	border: 1px solid transparent;
	z-index: 2;
}

.toolbox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 15vmin;
	height: 73vmin;
	margin-left: 1vmin;
	padding: 2vmin 0;
	background-color: red;
}

.toolbox__expected {
	display: flex;
	flex-wrap: wrap;
	width: 11vmin;
	height: 55vmin;
	background-color: black;
}

.toolbox__expected-element {
	width: calc(11vmin - 2px);
	height: calc(11vmin - 2px);
	border: 1px solid white;
}

.toolbox__buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 11vmin;
}

.open-valve-button,
.reset-game-button {
	width: 5vmin;
	max-width: 5vmin;
}

.main-menu-button {
	margin-top: 2vmin;
}

@media screen and (orientation:portrait) and (max-device-width: 900px) {
	body {
		transform: rotate(90deg);
	}
}
